@use '../../../static/scss/variables';
.button {
    font-family:"Red Hat Display";
    width: 100%;
    padding: 0.8125rem;
    border: 1px solid variables.$button-default;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3125;
    background-color: variables.$background-main;
    border-radius: 15px;
    text-align: center;
    color: variables.$text-primary-blue;
    cursor: pointer;
    outline: none;
    user-select: none;
    @media (min-width: 1365px) {
        padding: 0.9375rem;
        font-weight: 700;
        font-size: 1.25rem;
    }
    &:hover, &:focus {
       background-color: variables.$cancel-button-background;
    }
    &:active {
        border-color: variables.$button-active;
        color: variables.$button-active;
    }

}