@use '../../../static/scss/global';
.button {
    font-family:"Red Hat Display";
    width: 100%;
    padding: 0.6875rem;

    border: 1px solid global.$button-default;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.3;
    background-color: global.$background-main;
    border-radius: 15px;
    text-align: center;
    color: global.$text-primary-blue;
    cursor: pointer;
    outline: none;
    user-select: none;
    @media (min-width: 376px) {
        padding: 0.9375rem;
    }
    &:hover, &:focus {
       background-color: global.$cancel-button-background;
    }
    &:active {
        border-color: global.$button-active;
        color: global.$button-active;
    }

}