@import 'src/static/scss/variables';
@import 'src/static/scss/mixins';

.select {
  font-family: "Red Hat Display";
  user-select: none;
  width: 100%;
  position: relative;
  &__inputContainer {
    position: relative;
    &_adaptive {
      @media (max-width: 1365.98px) {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
  &__input {
    position: relative;
    height: 48px;
    border-radius: 15px;
    background-color: $input-background;
    padding: rem(11);
    border: 1px solid transparent;
    font-size: 1.125rem;
    line-height: 1.333;
    width: 100%;
    font-weight: 400;
    caret-color: $text-primary-blue;
    color: $text-primary-dark-blue;
    cursor: pointer;

    &:hover, &:focus {
      border-color: $input-stroke-active;
    }

    &_error {
      color: $text-primary-error;
      border-color: $input-stroke-error;
      &:hover, &:focus {
        border-color: $input-stroke-error;
      }
    }

  }
  &__placeholder {
    font-size: 1.125rem;
    line-height: 1.333;
    color: $text-primary-secondary-gray;
    &_adaptive {
      @media(max-width: 1365.98px) {
        font-size: 1rem;
        line-height: 1.3125;
      }
    }
    &_error {
      color: $text-primary-error;
    }
  }

  &__arrow, &__arrowOpen {
    position: absolute;
    font-size: 0;
    top: 50%;
    right: 14px;
    transform: translateY(-50%) rotate(0);
    transition: transform 0.3s ease 0s;
  }

  &__arrowOpen {
    transform: translateY(-50%) rotate(180deg);
  }
  &__dropdown {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    max-height: 290px;
    transition: all 0.3s ease 0s;
    padding: 10px 6px;
    color: $text-primary-dark-blue;
    background-color: $background-main;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    overflow-y: auto;
    width: 100%;

    &_adaptive {
      @media (min-width: 1365.98px) {
        position: absolute;
        z-index: 3;
        top: 100%;
        transform: translateY(10px);
      }
    }

    &_notAdaptive {
      position: absolute;
      z-index: 3;
      top: 100%;
      transform: translateY(10px);
    }

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 9px 6px;
    cursor: pointer;
    font-weight: 400;
    font-size: rem(14);
    line-height: 1.29;
    svg {
      display: none
    }
    &_active {
      color: $text-primary-blue;
      svg {
        display: inline;
      }
    }
    &:hover {
      background-color: $input-background;
      border-radius: 7px;
    }
    &:active {
      color: $text-primary-blue;
    }
  }
}


.error {
  display: flex;
  font-weight: 400;
  font-size: rem(12);
  align-items: center;
  line-height: 1.334;
  color: $text-primary-error;
  &_adaptive {
    @media (min-width: 1365.98px) {
      top: 100%;
      position: absolute;
      transform: translateY(4px);
    }

    @media (max-width: 1365.98px) {
      margin-top: 4px;
    }
  }

  &_notAdaptive {
    top: 100%;
    position: absolute;
    transform: translateY(4px);
  }

  svg {
    flex: 0 0 18px;
    margin-right: 6px;
    height: 18px;
  }
}




