@use '../../../static/scss/global';

.select {
    font-family: "Red Hat Display";
    user-select: none;
    position: relative;
    width: 100%;
    &__input {
        position: relative;
        height: 48px;
        border-radius: 15px;
        background-color: global.$input-background;
        padding: 0.6875rem 0.875rem;
        border: 1px solid transparent;
        font-size: 1.125rem;
        line-height: 1.333;
        width: 100%;
        font-weight: 400;
        caret-color: global.$text-primary-blue;
        color: global.$text-primary-dark-blue;
        cursor: pointer;
        &:hover, &:focus {
           border-color: global.$input-stroke-active;
        }
        @media (max-width: 767.98px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &__placeholder {
        font-size: 1rem;
        line-height: 1.3125;
        color: global.$text-primary-secondary-gray;
        @media(min-width: 767.98px) {
            font-size: 1.125rem;
            line-height: 1.333;
        }
    }
    &__arrow, &__arrowOpen {
        position: absolute;
        font-size: 0;
        top: 50%;
        right: 16px;
        transform: translateY(-50%) rotate(0);
        transition: transform 0.3s ease 0s;
    }

    &__arrowOpen {
        transform: translateY(-50%) rotate(180deg);
    }
    &__dropdown {
        max-height: 370px;
        transition: all 0.3s ease 0s;
        padding: 0 10px;
        background-color: global.$background-main;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        overflow-y: auto;
        width: 100%;
        @media (min-width: 767.98px) {
            position: absolute;
            z-index: 3;
            top: 100%;
            transform: translateY(15px);
        }
    }

    &__item {
        padding: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.357;
        &:hover {
            background-color: global.$input-background;
            border-radius: 7px;
        }
        &:active {
            color: global.$text-primary-blue;
        }
    }
}


