@use '../../static/scss/variables';
.CabinetHeader {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 24px 0 94px;
    color: variables.$text-primary-dark-blue;

    &__title {
        width: 768px;
        text-align: center;
        margin: auto;
    }

    &__welcome {
        display: block;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.3334;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
        @media (min-width: 1365.98px) {
            font-size: 1.5rem;
        }
    }

    &__subtitle {
        font-weight: 400;
        line-height: 1.3125;
        font-size: 1rem;
        @media (min-width: 1365.98px) {
            font-size: 1.5rem;
            line-height: 1.3334;
        }
    }
    &__subtitle_highlighted {
        color: variables.$text-primary-blue;
        font-weight: 700;
    }

    &__welcome + &__subtitle {
        @media (min-width: 1365.98px) {
            font-size: 1.25rem;
            line-height: 1.3;
        }
    }


    @media (max-width: 1535px) {
        &__title {
            width: 598px;
        }
    }
    @media (max-width: 1365px) {
        margin: 86px 0 60px;
        &__title {
            max-width: 328px;
        }
    }
    @media (max-width: 360px) {
        &__title {
            width: 100%;
        }
    }
}