@use '../../static/scss/global';
.CabinetHeader {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 98px 0 0;

    &__title {
        max-width: 640px;
        font-weight: 400;
        line-height: 1.33;
        font-size: 1.875em;
        text-align: center;
        margin: auto;
    }
    &__title_highlighted {
        color: global.$text-primary-blue;
        font-weight: 700;
    }
    @media (max-width: 375px) {
        margin: 80.57px 0 50px;
        background: global.$background-main url("../../static/images/background-cabinet-small.png") top / cover no-repeat;

        &__title {
            max-width: 302px;
            line-height: 1.32;
            font-size: 1.25em;
            text-align: center;
            margin: auto;
        }
        &__title_highlighted {
            font-weight: 700;
        }
    }
}