@import 'src/static/scss/variables';
@import 'src/static/scss/mixins';

.card {

  &__container {
    background-color: $background-constructor-cv;
    width: 199px;
    height: 252px;
    border-radius: 20px;
    text-align: center;
    padding: 84px 22px;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      border-color: $border-hover-constructorCv;
    }

    &:active {
      border-color: $border-active-constructorCv;
    }


    &_disabled {
      opacity: 0.4;
      &:hover, &:active {
        border-color: transparent;
      }
    }
  }

  &__content {
    color: $text-primary-blue;
    font-size: rem(18);
    line-height: 1.334;
    font-weight: 600;
  }

  &__link {
    position: relative;
    margin: auto;
    border-radius: 50%;
    background-color: $background-link;
    width: 24px;
    height: 24px;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &__plus {
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__label {
    display: flex;
    gap: 4px;
    width: 200px;
    padding-top: 16px;
  }

  &__icon {

  }

  &__text {
    font-size: 0.75em;
    line-height: 1.32;
    font-weight: 600;
    color: #000;
    text-align: left;
  }

  @media (max-width: 1365px) {
    &:only-of-type {
      margin: 0 auto;
    }
    &__title {
      font-size: 1em;
      margin: 0 0 24px 0;
    }
    &__container {
      width: 192px;
      height: 220px;
      padding: 76px 21px;
    }
    &__content {
      font-size: rem(12);
    }
    &__label {
      display: none;
    }
  }
  @media (max-width: 428px) {
    &__title {
      margin: 0 0 24px 16px;
    }
  }
  @media (max-width: 427px) {
    &__container {
      width: 158px;
      padding: 76px 4px;
    }
  }
}
