@use '../../../static/scss/global';
.button {
    font-family:"Red Hat Display";
    padding: 0.8em;
    width: 100%;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.3;
    background-color: global.$button-default;
    border-radius: 10px;
    text-align: center;
    color: global.$text-primary-white;
    cursor: pointer;
    outline: none;
    user-select: none;
    &:hover, &:focus {
        background-color: global.$button-hover;
    }
    &:active {
        background-color: global.$button-active;
    }
    &:disabled {
        background-color: global.$button-disabled;
    }
}