@use '../../../static/scss/variables';
.button {
    font-family:"Red Hat Display";
    padding: 0.875rem;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3125;
    background-color: variables.$button-default;
    border-radius: 15px;
    text-align: center;
    color: variables.$text-primary-white;
    cursor: pointer;
    outline: none;
    user-select: none;
    @media (min-width: 1365px) {
        padding: 1rem;
        font-weight: 700;
        font-size: 1.25rem;
    }
    &:hover, &:focus {
        background-color: variables.$button-hover;
    }
    &:active {
        background-color: variables.$button-active;
    }
    &:disabled {
        background-color: variables.$button-disabled;
    }
}