@use '../../../../static/scss/variables';

.overlay {
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    cursor: default;
}
.modal {
    width: 520px;
    height: 234px;
    background-color: variables.$background-main;
    border-radius: 15px;
    position: absolute;
    z-index: 30;
    bottom: calc(50% - 234px / 2);
    left: calc(50% - 520px / 2);
    padding: 40px 40px 30px;
    &__content {
        color: variables.$text-primary-dark-blue;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 1.125em;
        line-height: 1.32;
        width: 400px;
        margin: 0 auto;
        &__title {
            padding-bottom: 16px;
            font-weight: 500;
            font-size: 1.25em;
        }
        & p {
            width: 330px;
            margin: 0 auto;
        }
        & span {
            font-weight: 600;
        }
    }
    &__btns {
        display: flex;
        gap: 40px;
        margin: 0 auto;
        width: 380px;
        &__label {
            display: block;
            box-sizing: border-box;
            width: 170px;
            height: 54px;
            background-color: variables.$background-main;
            border-radius: 12px;
            border: variables.$button-default 1px solid;
            color: variables.$text-primary-blue;
            font-size: 1.25em;
            line-height: 1.32;
            font-weight: 600;
            padding: 14px 30px;
            position: relative;
            cursor: pointer;
            text-align: center;
            &:hover, &:focus {
                background-color: variables.$cancel-button-background;
             }
            &:active {
                border-color: variables.$button-active;
                color: variables.$button-active;
                background-color: variables.$background-main;
            }
        }
        & input[type='file'] {
            position: absolute;
            top: 0%;
            left: 0%;
            z-index: 2;
            width: 170px;
            height: 54px;
            opacity: 0;
            cursor: pointer;
        }
        & button {
            display: block;
            font-family:"Red Hat Display";
            width: 170px;
            height: 54px;
            background-color: variables.$button-default;
            border-radius: 12px;
            color: variables.$background-main;
            font-size: 1.25em;
            line-height: 1.32;
            font-weight: 700;
            padding: 14px 53.5px;
            position: relative;
            cursor: pointer;
            &:hover, &:focus {
                background-color: variables.$button-hover;
            }
            &:active {
                background-color: variables.$button-active;
            }
            &:disabled {
                background-color: variables.$button-disabled;
            }
        }
    }
}