@use '../../static/scss/global';
.page {
  margin: 77px 0 0 81px;
  &__title {
    font-size: 1.625em;
    line-height: 1.32;
    font-weight: 600;
    color: global.$text-primary-dark-blue;
    margin-bottom: 40px;
    text-align: left;
  }
  &__container {
    background: global.$background-sidebar;
    width: 200px;
    height: 270px;
    border-radius: 20px;
    text-align: center;
    padding: 94px 23px 0;
    &__content {
      color: global.$text-primary-blue;
      font-size: 1.125em;
      line-height: 1.32;
      font-weight: 600;
      padding-top: 10px;
      max-width: 153px;
    }
  }
  &__link {
    margin: auto;
    border-radius: 50%;
    background-color: #F0F5FF;
    width: 32px;
    height: 32px;
    padding: 7px 9px;
    cursor: pointer;
  }
  &__label {
    display: flex;
    gap: 4px;
    width: 200px;
    padding-top: 16px;
    &__text {
      font-size: 0.75em;
      line-height: 1.32;
      font-weight: 600;
      color: #000000;
      text-align: left;
    }
  }
}
