@use '../../../../static/scss/variables';

.error {
  position: absolute;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.333;
  color: variables.$text-primary-error;
  top: 100%;
  transform: translateY(6px);
}

svg {
  flex: 0 0 14px;
  margin-right: 6px;
  height: 14px;
}

