@use '../../../static/scss/variables';

.sidebar {
    position: fixed;
    top: 0;
    width: 320px;
    background: variables.$background-sidebar;
    padding: 30px 0 0 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    @media (max-width: 1365px) {
      position: relative;
    }
    &__logo {
        padding: 0 0 20px 0;
        & img {
          width: 130px;
          height: 44px;
        }
    }
    &__link {
      display: flex;
      align-items: center;
      font-size: 1em;
      line-height: 1.32;
      gap: 15px;
      padding: 1.5px 0 1.5px 5px;
      margin-bottom: 32px;
      color: variables.$text-primary-blue;
      width: fit-content;
      & p {
        border-bottom: 1px solid transparent;
      }
      &:hover p, &:focus p {
        border-bottom: 1px solid variables.$text-primary-blue;
      }
      &:active {
        color: variables.$text-primary-dark-blue;
        & p {
          border-bottom: 1px solid transparent;
        }
        & path {
          fill: variables.$text-primary-dark-blue;
        }
      }
    }
    &__nav {
      display: flex;
      gap: 12px;
      flex-direction: column;
      &__link {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 16px;
          padding: 4px 0px 4px 4px;
          font-weight: 400;
          font-size: 1em;
          line-height: 1.32;
          color: variables.$text-primary-dark-blue;
          opacity: 40%;
          cursor: default;
          &__icon {
            background-color: variables.$background-main;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            text-align: center;
            padding: 12px;
          }
          & svg {
            display: block;
            width: 16px;
            height: 16px;
          }
          & p {
            height: 21px;
          }
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 48px;
            left: 24px;
            border-left: 0.5px solid variables.$text-primary-secondary-gray;
            height: 4.5px;
          }
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: -4px;
            left: 24px;
            border-left: 0.5px solid variables.$text-primary-secondary-gray;
            height: 4.5px;
          }
      }
      & a:nth-child(9) .sidebar__nav__link {
        &::before {
          content: none;
        }
      }
      & a:nth-child(2) .sidebar__nav__link {
        &::after {
          content: none;
        }
      }
    }
}

.active {
  padding: 0px;
  column-gap: 12px;
  & .sidebar__nav__link {
    padding: 0;
    opacity: 100%;
    cursor: pointer;
  }
  & .sidebar__nav__link__icon {
    background-color: variables.$text-primary-blue;
    box-shadow: 0 4px 12px 0 rgba(64, 123, 255, 0.2);
    width: 48px;
    height: 48px;
    padding: 16px;
  }
  & p {
    color: variables.$text-primary-blue;
    font-weight: 600;
  }
  & path {
    fill: variables.$background-main;
  }
  & .stroke {
    fill: none;
    stroke: variables.$background-main
  }
}

.available {
  & .sidebar__nav__link {
    opacity: 100%;
    cursor: pointer;
    &:hover {
      color: variables.$text-primary-blue;
      & path {
        fill: variables.$text-primary-blue;
      }
      & .stroke {
        fill: none;
        stroke: variables.$text-primary-blue;
      }
    }
    &:active {
      padding: 0px;
      font-weight: 600;
      column-gap: 12px;
      color: variables.$text-primary-blue;
      & .sidebar__nav__link__icon {
        background-color: variables.$text-primary-blue;
        box-shadow: 0 4px 12px 0 rgba(64, 123, 255, 0.2);
        width: 48px;
        height: 48px;
        padding: 16px;
      }
      & path {
        fill: variables.$background-main;
      }
      & .stroke {
        fill: none;
        stroke: variables.$background-main;
      }
    }
  }
}