@use '../../static/scss/global';
.page {
    min-height: 100vh;
    text-align: center;
    
    &__background {
        position: absolute;
        z-index: -1;
        margin: 126px 0 91.45px;
        width: 100vw;
        height: 220px;
        background: global.$background-main url("../../static/images/background-personal-cabinet.png") center / cover no-repeat;
    }
    &__container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        width: 100%;
    }
    &__content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 75%;
    }
    &__header {
        margin: 38px 0 91.45px;
        height: 216px;
    }
    &__main {

    }
    &__sidebar {
        flex-basis: 25%;
    }
    @media (max-width: 1439.98px) {
        &__background {
            margin: 52px 0 44px;
        }
        &__sidebar {
            flex-basis: 32%;
        }
        &__content {
            width: 68%;
        }
        &__header {
            margin: 52px 0 44px;
            height: 126px;
        }
    }
    @media (max-width: 767.98px) {
        &__container {
            display: block;
        }
        &__content {
            width: 100%;
        }
        &__sidebar {
            width: 100%;
        }
        &__background {
            display: none;
        }
        &__header {
            margin: 0;
            height: fit-content;
        }
    }
}
.header {
    display: none;
    @media (max-width: 767.98px) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 70.57px;
        padding: 20px 15px 0 18.75px;
        position: fixed;
        z-index: 2;
        backdrop-filter: blur(2px);
        background: rgba(255, 255, 255, 0.1);
        &__burger {
            cursor: pointer;
        }
        &__photo__icon {
            cursor: pointer;
        }
    }
}
.exit {
    align-self: flex-end;
    margin: 66px 112px 0 0;
    font-size: 1.25em;
    line-height: 1.32;
    @media (max-width: 1439.98px) {
        margin: 46px 32px 0 0;
    }
    @media (max-width: 767.98px) {
        display: none;
    }
}