*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

body {
    font-family: "Red Hat Display";
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

html {
    font-size: 100%;
}

a {
    outline: none;
}

input[type="text"]::-ms-clear {
    display: none;
}

input[type="password"]::-ms-reveal {
    display: none;
}

//input::-webkit-credentials-auto-fill-button,
//input::-webkit-contacts-auto-fill-button {
//    visibility: hidden;
//    display: none !important;
//    pointer-events: none;
//    position: absolute;
//    right: 0;
//}

/*=======VARIABLES =====*/
/*=======background========*/
$background-main: #fff;
$background-sidebar: #F6F9FF;

/*=======text========*/
$text-primary-blue: #407bff;
$text-primary-white: #fff;
$text-primary-dark-blue: #25225d;
$text-primary-grey: #9c9c9c;
$text-primary-secondary-gray: #b0b0b0;
$text-primary-error: #d40000;

/*=======button========*/
$button-default: #407bff;
$button-hover: #296bff;
$button-active: #004fff;
$button-disabled: #94b5ff;
$cancel-button-background: #e6edff;

/*=======input========*/
$input-background: #f3f3f3;
$input-stroke-active: #407bff;
$input-stroke-error: #d40000;

/*=======scrollbar========*/

$scrollbar: #c1c1c1;





