$imgPath: "/src/static/images/";
/*=======background========*/
$background-main: #fff;
$background-sidebar: #f6f9ff;
$background-link: #f0f5ff;
$background-constructor-cv: #f9fafe;

/*=======text========*/
$text-primary-blue: #407bff;
$text-primary-white: #fff;
$text-primary-dark-blue: #25225d;
$text-primary-grey: #9c9c9c;
$text-primary-secondary-gray: #b0b0b0;
$text-primary-error: #d40000;

/*=======button========*/
$button-default: #407bff;
$button-hover: #296bff;
$button-active: #004fff;
$button-disabled: #94b5ff;
$cancel-button-background: #e6edff;


/*=======button-loader========*/
$button-circle-main-bcg: #94b5ff;
$button-main-slider: #fff;

$button-circle-grey-bcg: #f3f3f3;
$button-blue-slider: #407bff;



/*=======input========*/
$input-background: #f3f3f3;
$input-stroke-active: #407bff;
$input-stroke-error: #d40000;

/*=======scrollbar========*/
$scrollbar: #c1c1c1;





