@use '../../static/scss/global';

@keyframes opacity-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes color-animation {
    0% {
        color: global.$text-primary-dark-blue;
    }
    100% {
        color: global.$text-primary-blue;
    }
}

@keyframes stroke-animation {
    0% {
        stroke: global.$text-primary-dark-blue;
    }
    100% {
        stroke: global.$text-primary-blue;
    }
}

.sidebar {
    width: 100%;
    background: global.$background-sidebar;
    padding: 50px 0 0 60px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    &_open__header {
        display: none;
    }
    &__logo {
        padding: 0 0 63px;
        width: fit-content;
        padding-left: 10px;
    }
    &__photo {
        height: 200px;
        width: 200px;
        margin-left: 10px;
        background: global.$background-main;
        border: global.$text-primary-blue solid 1px;
        border-radius: 50%;
        padding: 72px 34px 72px 34px;
    }
    &__photo__button {
        width: 32px;
        height: 32px;
        margin: auto;
        background-color: #F0F5FF;
        border-radius: 50%;
        padding: 7px 9px;
    }
    &__photo__title {
        color: global.$text-primary-blue;
        font-weight: 600;
        font-size: 1.12em;
        line-height: 1.32;
    }
    &__number {
        color: global.$text-primary-grey;
        font-size: 1em;
        font-weight: 500;
        line-height: 1.32;
        padding: 10px 0 39px 22px;
    }
    &__number__id {
        font-weight: 400;
    }
    &__nav__link {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        padding: 23px 25px;
        font-weight: 400;
        font-size: 1.25em;
        line-height: 1.32;
        color: global.$text-primary-dark-blue;
        position: relative;
        background: global.$background-sidebar;
        & svg {
            stroke: global.$text-primary-dark-blue;
        }
    }
    @media (max-width: 1439.98px) {
        padding: 30px 0 0 30px;
        &__nav__link {
            padding: 23px 28px;
            column-gap: 10px;
        }
        &__logo {
            padding: 0 0 28px;
            padding-left: 2px;
            & img {
                width: 130px;
                height: 44px;
            }
        }
        &__number {
            padding: 10px 0 41px 20px;
        }
        &__photo {
            margin-left: 2px;
        }
    }
    @media (max-width: 767.98px) {
        background: global.$background-main url("../../static/images/background-cabinet-burger.png") bottom / cover no-repeat;
        width: 100%;
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 100ms ease-in;
        &__logo {
            display: none;
        }
        &__photo {
            display: none;
        }
        &__number {
            display: none;
        }
    }
}

.sidebar_open.sidebar {
    @media (max-width: 767.98px) {
        visibility: visible;
        opacity: 1;
        padding: 9.57px 15px 0;
        .sidebar {
            &_open__header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                &_exit {
                    cursor: pointer;
                }
            }
            &__nav__link {
                column-gap: 8px;
                padding: 16.5px 0;
                font-size: 1em;
                color: global.$text-primary-dark-blue;
                background: transparent;
                border-radius: 0%;
                & svg {
                    stroke: global.$text-primary-dark-blue;
                }
            }
            &__nav__link:hover {
                color: global.$text-primary-blue;
                & svg {
                    stroke: global.$text-primary-blue;
                }
            }
        }
        .active {
            & .sidebar__nav__link {
                color: global.$text-primary-blue;
                & svg {
                    stroke: global.$text-primary-blue;
                }
                &::before {
                    content: none;
                }
                &::after {
                    content: none;
                }
            }
        }
    }
}

.active {
    & .sidebar__nav__link {
        background-color: global.$background-main;
        color: global.$text-primary-blue;
        border-radius: 15px 0 0 15px;
        color: global.$text-primary-blue;
        font-weight: 600;
        animation: opacity-animation 500ms ease-out alternate;
        &::after {
            content: '';
            animation: opacity-animation 500ms ease-out alternate;
            position: absolute;
            top: -15px;
            right: 0;
            width: 15px;
            height: 15px;
            z-index: 1;
            background: radial-gradient(circle at left top, transparent 15px, #fff 15px);
        }
        &::before {
            content: '';
            animation: opacity-animation 500ms ease-out alternate;
            position: absolute;
            bottom: -15px;
            right: 0;
            width: 15px;
            height: 15px;
            z-index: 1;
            background: radial-gradient(circle at left bottom, transparent 15px, #fff 15px);
        }
        & svg {
            stroke: global.$text-primary-blue;
        }
    }
}

.exit{
    display: none;
    @media (max-width: 767.98px) {
        margin: auto 0 119.5px;
        display: block;
        & p {
            font-size: 1em;
        }
    }
}