@use '../../../../static/scss/global';

.selectPhone {
    display: flex;
    column-gap: 15px;
    @media (max-width: 376px) {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    &__select {
        flex: 0 0 114px;
    }
    &__input {
        width: 100%;
        @media (max-width:376px) {
            flex: 1 0 10%;
        };
    }
    &__codeNumber {

    }
    &__error {
        box-shadow: 0 0 0 1px global.$input-stroke-error;
        &:hover {
            box-shadow: 0 0 0 1px global.$input-stroke-error;
        }
    }
    &__modal {
        @media (min-width: 376px) {
            overflow-y: auto;
            width: 100%;
            position: absolute;
            z-index: 3;
            max-height: 370px;
            padding: 0 10px;
            background-color: global.$background-main;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
        }
        @media (max-width: 376px) {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 50;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 0 15px;
        }
        @media (min-width: 368px) and (max-width: 992px) {
            transform: translateY(-10px);
            bottom: 100%;
        }
        @media (min-width: 992px) {
            top: 100%;
            transform: translateY(15px);
        }
    }
    &__title {
        display: none;
        @media(max-width: 376px) {
            padding: 0 10px;
            display: block;
        }
    }
    &__dropdown {
        @media (max-width: 376px) {
            transform: translateY(-50%);
            top: 50%;
            position: absolute;
            z-index: 3;
            max-height: 370px;
            transition: all 0.3s ease 0s;
            padding: 0 10px;
            background-color: global.$background-main;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            overflow-y: auto;
            height: 100%;
            width: 100%;
        }

    }
}

