@use '../../../../static/scss/global';

.selectPhone {
    display: flex;
    column-gap: 15px;
    @media (max-width: 767.98px) {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    &__select {
        flex: 0 0 114px;
        column-gap: 5px;
        height: 48px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: global.$input-background;
        padding: 0.75rem 0.9375rem;
        font-size: 1.125rem;
        line-height: 1.333;
        width: 100%;
        font-weight: 400;
        caret-color: global.$text-primary-blue;
        color: global.$text-primary-dark-blue;
        cursor: pointer;
        &:hover, &:focus {
            box-shadow: 0 0 0 1px global.$input-stroke-active;
        }
        @media (max-width: 767.98px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &__input {
        width: 100%;
        @media (max-width: 376px) {
            flex: 1 0 10%;
        };
    }
    &__phoneCode {
        display: flex;
        align-items: center;
        column-gap: 5px;
        img {
            max-height: 21px;
            width: 100%;
            max-width: 21px;
        }
    }
    &__error {
        box-shadow: 0 0 0 1px global.$input-stroke-error;
        &:hover {
            box-shadow: 0 0 0 1px global.$input-stroke-error;
        }
    }

    &__dropdown {
        @media (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            padding: 15px 5px;
            background-color: global.$background-main;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            overflow-y: auto;
            width: 100%;
            z-index: 4;
            max-height: 370px;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.357;
        padding: 6px 5px;
        &:hover {
            background-color: global.$input-background;
            border-radius: 7px;
        }
        &:active {
            color: global.$text-primary-blue;
        }
    }
    &__countryName {
        display: flex;
        column-gap: 10px;
        align-items: center;
        img {
            width: 100%;
            max-width: 21px;
        }
    }
    &__countryCode {

    }
    &__modal {
        @media(min-width: 1200px) {
            position: absolute;
            padding: 15px 25px;
            background-color: global.$background-main;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            overflow-y: auto;
            width: 100%;
            z-index: 4;
            max-height: 370px;
            top: 100%;
            transform: translateY(15px);
        }
        @media(min-width: 767.98px) and (max-width:1200px) {
            position: absolute;
            padding: 15px 25px;
            background-color: global.$background-main;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            overflow-y: auto;
            width: 100%;
            z-index: 4;
            max-height: 370px;
            bottom: 100%;
            transform: translateY(-10px);
        }
        @media (max-width: 767.98px) {
            display:flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            padding: 0 15px;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 3;
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 10px;
        @media (max-width: 767.98px) {
            padding: 0 10px;
        }
    }
}
