@use 'src/static/scss/variables';

.button {
  font-family: 'Red Hat Display';
  display: flex;
  column-gap: 15px;
  align-items: center;
  color: variables.$text-primary-blue;
  font-size: 1rem;
  line-height: 1.3125;
  opacity: 1;
  transition: opacity 0.2s ease 0s;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    opacity: 0.4;
    cursor: no-drop;
  }
}