@use 'src/static/scss/variables';

.button {
  font-family: 'Red Hat Display';
  display: flex;
  column-gap: 15px;
  align-items: center;
  color: variables.$text-primary-blue;
  font-size: 1rem;
  line-height: 1.375;
  opacity: 1;
  transition: opacity 0.2s ease 0s;
  background-color: transparent;
  cursor: pointer;
  & p {
    border-bottom: 2px solid transparent;
  }
  &:disabled {
    opacity: 0.4;
    cursor: no-drop;
  }
  &:hover:not([disabled]) p, &:focus:not([disabled]) p {
    border-color: variables.$text-primary-blue;
  }
  &:active {
    color: variables.$text-primary-dark-blue;
    border-color: transparent;
    & path {
      fill: variables.$text-primary-dark-blue;
    }
  }     
}