@import "src/static/scss/variables";

.password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 0;
  cursor: pointer;

  path {
    fill: $input-eye;
  }

}