@use '../../static/scss/variables';

.photo {
  background: variables.$background-main;
  border: variables.$text-primary-blue solid 1px;
  border-radius: 50%;
  cursor: pointer;
  &__button {
    margin: 0 auto;
    background-color: #F0F5FF;
    border-radius: 50%;
    & svg {
      display: block;
    }
  }
  &__title {
    white-space: nowrap;
    color: variables.$text-primary-blue;
    font-weight: 600;
    line-height: 1.32;
  }
}

.Cabinet {
  &.photo {
    height: 140px;
    width: 140px;
    padding: 48px 20px;
  }
  &.photo__button {
    width: 24px;
    height: 24px;
    padding: 6px;
  }
  &.photo__title {
    font-size: 0.875em;
  }
}

.CV {
  &.photo {
    height: 130px;
    width: 130px;
    padding: 47px 22px;
  }
  &.photo__button {
    width: 20px;
    height: 20px;
    padding: 5.5px;
    & svg {
      width: 9px;
      height: 9px;
    }
  }
  &.photo__title {
    font-size: 0.75em;
  }
}