@use '../../static/scss/variables';

.wrapper {
    margin-left: 11px;
    position: relative;
}

.icon svg {
    display: block;
    @media (max-width: 1365px) {
        width: 18px;
        height: 18px;
    }
}

.icon:hover ~ .tooltip {
    visibility: visible;
}

.tooltip {
    position: absolute;
    bottom: 140%;
    left: 115%;
    background: #f3f3f3;
    color: variables.$text-primary-dark-blue;
    visibility: hidden;
    padding: 12px 21px;
    border-radius: 15px 15px 15px 0px;
    font-family: 'Red Hat Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    min-width: 318px;
    @media (max-width: 1365px) {
        min-width: 252px;
        font-size: 12px;
        line-height: 16px;
        padding: 8px 19px;
    }
    @media (max-width: 470px) {
        min-width: 180px;
        padding: 7px 14px;
        left: 100%;
    }
}

.tooltipArrow {
    position: absolute;
    top: 95%;
    left: 0%;
    border: 7px solid transparent;
    border-left: 7px solid #f3f3f3;
    border-top: 7px solid #f3f3f3;
    border-radius: 0 0 0 4px;
}
  