@import 'src/static/scss/variables';
@import 'src/static/scss/mixins';

.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  font-family: "Red Hat Display";
  font-size: 1.125rem;
  line-height: 1.3334;
  padding: rem(11);
  border-radius: 15px;
  background-color: $input-background;
  width: 100%;
  font-weight: 400;
  outline: none;
  caret-color: $text-primary-blue;
  color: $text-primary-dark-blue;
  -webkit-text-fill-color: $text-primary-dark-blue;
  cursor: text;
  border: 1px solid transparent;

  &_paddingRight {
    padding-right: 3rem;
  }

  &:hover, &:focus {
    border-color: $input-stroke-active;
  }
  &:disabled {
    cursor: no-drop;
  }

  &:disabled:hover {
    border-color: transparent;
  }

  &::placeholder {
    font-family: "Red Hat Display";
    font-size: 1.125rem;
    line-height: 1.333;
    color: $text-primary-grey;
    -webkit-text-fill-color: $text-primary-grey;
    user-select: none;
  }
  &:focus::placeholder {
    color: $text-primary-secondary-gray;
    -webkit-text-fill-color: $text-primary-secondary-gray;
  }

  &_adaptive {
    @media(max-width: 1365.98px) {
      &::placeholder {
        font-size: 1rem;
        line-height: 1.3125;
      }
    }
  }


  &__error {
    -webkit-text-fill-color: $text-primary-error;
    color: $text-primary-error;
    border-color: $input-stroke-error;
    &:hover, &:focus {
      border-color: $input-stroke-error;
    }
    &::placeholder, &:focus::placeholder {
      -webkit-text-fill-color: $text-primary-error;
      color: $text-primary-error
    }
  }

}

.error {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 400;
  font-size: rem(12);
  line-height: 1.334;
  color: $text-primary-error;
  top: 100%;
  position: absolute;
  transform: translateY(4px);

  svg {
    flex: 0 0 18px;
    margin-right: 6px;
    height: 18px;
  }

  span {
    margin-left: 10px;
  }

  span + svg {
    display: none;
  }
}

