@use '../../../static/scss/global';
.inputContainer {
    position: relative;
    &:not(:last-child) {
        margin-bottom: 2px;
        @media (min-width: 767.98px) {
            margin-bottom: 6px;
        }
    }
}
.input {
    font-family: "Red Hat Display";
    font-size: 1em;
    line-height: 1.3125;
    padding: 0.67em 0.83em;
    padding-right: 3em;
    border-radius: 15px;
    background-color: global.$input-background;
    width: 100%;
    font-weight: 400;
    outline: none;
    caret-color: global.$text-primary-blue;
    color: global.$text-primary-dark-blue;
    cursor: text;
    @media(min-width: 767.98px) {
        font-size: 1.125em;
        line-height: 1.333;
    }

    &:hover, &:focus {
        outline: 1px solid global.$input-stroke-active;
    }
    &:not([value=""]) + label {
        display: none;
    }

    &::placeholder {
        font-family: "Red Hat Display";
        font-size: 1.125em;
        line-height: 1.3125;
        color: global.$text-primary-secondary-gray;
        @media(min-width: 767.98px) {
            font-size: 1.125em;
            line-height: 1.333;
        }
    }

    &[type="text"]::-ms-clear {
        display: none;
    }   
    &[type="password"]::-ms-reveal {
        display: none;
    }

    &::-webkit-credentials-auto-fill-button,
    &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
    }

    &__error {
        color: global.$text-primary-error;
        outline: 1px solid global.$input-stroke-error;
        &:hover, &:focus {
            outline: 1px solid global.$input-stroke-error;
        }
        &::placeholder {
            color: global.$text-primary-error
        }
    }

}

.error {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 0.625em;
    line-height: 1.3;
    color: global.$text-primary-error;
    svg {
        margin-right: 5px;
        width: 14px;
        height: 14px;
    }
    span {
        margin-left: 10px;
    }
    span + svg {
        display: none;
    }
    @media (min-width: 767.98px) {
        font-size: 0.75em;
        line-height: 1.333;
    }
}