@import 'src/static/scss/variables';

.boardAdvice {
  position: relative;
  height: 100%;
  color: $text-primary-dark-blue;
  background-color: $background-sidebar;
  border-radius: 16px;

  &:after {
    top: -15px;
    right: 22px;
    content: '';
    position: absolute;
    width: 20px;
    height: 44px;
    background: url($imgPath + "personalInformation/clip.svg");
  }

  &__container {
    position: absolute;
    overflow: hidden;
    padding: 20px;
    left: 0;
    height: 100%;

    &_animation {
      animation: appearanceFromBelow 0.6s;
    }
  }

  &__content {
    height: 100%;
    overflow: hidden;
  }

  &__title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.3;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__hint {
    font-size: 1rem;
    line-height: 1.3125;
  }

  p {
    padding-top: 8px;
  }

  a {
    color: $text-primary-blue;
    border-bottom: 2px solid $text-primary-blue;
  }
}

strong{
  font-weight: 600;
}

@keyframes appearanceFromBelow {
  from {
    top: 5%;
    opacity: 0.2;
  }
  to {
    top: 0;
    opacity: 1;
  }
  
}